body { 
    background-color: rgb(33, 79, 3);
    color: rgb(168, 167, 167);
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(177, 235, 76);
    color: rgb(50, 50, 50);
    font-family: "Kanit", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}

#passo3 img {
    width: 100px;
}
